<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_SCAN"
    android:usesPermissionFlags="neverForLocation" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
  <application>
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.laoji.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/laoji_update_file_paths" />
    </provider>
    <receiver
      android:name="com.laoji.nativeplatform.entry.LaojiUpcomingEventsWidgetProvider"
      android:exported="true"
      android:label="@string/laoji_widget_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/laoji_upcoming_events_widget_info" />
    </receiver>

    <service
      android:name="com.laoji.nativeplatform.entry.UpcomingEventsRemoteViewsService"
      android:exported="false"
      android:permission="android.permission.BIND_REMOTEVIEWS" />

    <service
      android:name="com.laoji.nativeplatform.entry.LaojiMeetingTileService"
      android:exported="true"
      android:icon="@drawable/laoji_ic_quick_tile_record"
      android:label="@string/laoji_quick_tile_name"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
      <meta-data
        android:name="android.service.quicksettings.ACTIVE_TILE"
        android:value="true" />
    </service>
  </application>
</manifest>
